<% layout('./layouts/Boilerplate') %>
<body>
    <h2 class="text-center" >All Places</h2>
    <div class="listings-container">
        <% allListings.forEach(place=>{ %>
            <a href="/listings/<%=place._id%>" style="text-decoration: none;" >
                <div class="card" style="width: 25rem;">
                    <img src="<%=place.image%>" class="card-img-top" alt="<%=place.title%>" height="400" >
                    <div class="card-body">
                    <h5 class="card-title"><%=place.title%></h5>
                    <p class="card-text">₹ <%= place.price.toLocaleString("en-In") %></p>
                    <button class="btn btn-primary">
                        Explore
                    </button>
                    </div>
                </div>
            </a>
        <% }) %>
    </div>
    </ul>
</body>