<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlust | Edit |<%= place.title %></title>
  </head>
  <body>
    <h2>Update <%=place.title%></h2>
    <form action="/listings/<%=place.id%>?_method=PATCH" method="POST">
      <label for="title">title</label>
      <input
        type="text"
        value="<%= place.title %>"
        name="title"
        id="title"
        placeholder="Enter title"
      />
      <br />
      <label for="description">description</label>
      <input
        type="text"
        value="<%= place.description %>"
        name="description"
        id="description"
        placeholder="Enter description"
      />
      <br />
      <label for="image">image</label>
      <input
        type="text"
        value="<%= place.image %>"
        name="image"
        id="image"
        placeholder="Enter image"
      />
      <br />
      <label for="price">price</label>
      <input
        type="text"
        value="<%= place.price %>"
        name="price"
        id="price"
        placeholder="Enter price"
      />
      <br />
      <label for="location">location</label>
      <input
        type="text"
        value="<%= place.location %>"
        name="location"
        id="location"
        placeholder="Enter location"
      />
      <br />
      <label for="country">country</label>
      <input
        type="text"
        value="<%= place.country %>"
        name="country"
        id="country"
        placeholder="Enter country"
      />
      <br />
      <button>UPDATE</button>
    </form>
  </body>
</html>
